<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a routerLink="/" class="nav-link active" routerLinkActive="active">home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link" routerLinkActive="active">about</a>
        </li>
        <li class="nav-item disabled">
          <a routerLink="/contact" class="nav-link active" routerLinkActive="active">contact</a>
        </li>
        <li class="nav-item">
          <a routerLink="/student" class="nav-link active" routerLinkActive="active">student</a>
        </li>
      </ul>

    </div>
    <div class="col-sm-3">
    <router-outlet></router-outlet>    
  </div>
  </div>
</div>

