<div class="form-group">
  <label for="nmi">name</label>
  <input type="text" [(ngModel)]="obj.name" class="form-control" name="nim" id="nim" placeholder="name">
</div>
<div class="form-group">
    <label for="nmi">id</label>
    <input type="text" [(ngModel)]="obj.id" class="form-control" name="nim" id="nim" placeholder="name">
  </div>
  <div class="form-group">
    <label for="nmi">branch</label>
    <input type="text" [(ngModel)]="obj.branch" class="form-control" name="nim" id="nim" placeholder="name">
  </div>
<button type="button" (click)="createduser()">click me</button>

